
body, input, textarea, select, option { font-family: 'Architects Daughter', cursive; }

body { font-family: 'Architects Daughter', cursive; font-size: 100% }
h1, h2, h3, h4, h5, h6 { font-family: 'Architects Daughter', cursive; }

/*
body, input, textarea, select, option { font-family: 'Noto Sans', sans-serif; }

body { font-family: 'Noto Sans', sans-serif; }
h1, h2, h3, h4, h5, h6 { font-family: 'Noto Sans', sans-serif; }
*/

.topnav { border-bottom: 1px dotted #ddd;}
.topnav nav { display: block; padding-top: 5px;}
.topnav nav a { margin-left: 20px; margin-top: -10px;}	
.topnav nav.user { float:right; }

.spaced { margin-top: 40px; margin-bottom: 40px; }
.transparent { opacity: 0.25; }

.content { }
a.special { color: #ee028e; }
.placeholder { background-color: #f8f8f8; text-align: center; padding-top: 140px; height: 160px;}
.upload { font-size: 2em; color: #666; line-height: 1.25em; background-color: #f8f8f8; text-align: center; padding-top: 100px; height: 200px; border: 3px dashed #ccc; }
.pin-placeholder { background-color: #f8f8f8; text-align: center; padding-top: 30px; height: 70px;}
a.plus:link { font-size: 56px; font-weight: bold; text-decoration: none; line-height: 36px; }
a.plus:hover { font-size: 56px; font-weight: bold; text-decoration: none; line-height: 36px; color:#00FF00; }
.avatar { border-radius: 50%; background: #f8f8f8; text-align:center; width: 100px; height: 100px;	position: relative; }
.avatar .plus { position: absolute;	top: 28px; left: 36px; }
.done { background: green;}
.other { background: orange;}

.right { text-align:right;}
.center { text-align: center;}
.wideform input, textarea { width: 90%; }
.placeholder { background-color: #f8f8f8; text-align: center; padding-top: 140px; height: 160px;}
.upload { font-size: 2em; color: #666; line-height: 1.25em; background-color: #f8f8f8; text-align: center; padding-top: 100px; height: 200px; border: 3px dashed #ccc; }
.pin-placeholder { background-color: #f8f8f8; text-align: center; padding-top: 30px; height: 70px;}
.callout { background: #FFFFDD;}
.callout p { padding-top: 20px; padding-left: 20px; }
.clicky { background-color: #ffffcc;}

.activity { color: #999; }
.success { background-color: #99ff99; padding: 5px; }
.grey { color: #ccc; }
.auth a { font-weight: bold; }
.facebook { color: #2e599f;}
.twitter { color: #00aef0;}
.google { color: #e14a33;}

.footer { border-top: 1px dotted #ddd; padding-top: 10px;}
.footer nav a { margin-right: 20px; }
.shift { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; padding: 5px; text-decoration: none; text-transform: uppercase; background-color: #ffdc00; font-weight: bold; }
.footer .communities { font-size: 1em;}				